[core]
    excludesfile = ~/.gitignore

[user]
    name = h13i32maru
    email = h13i32maru@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    st = status
    di = diff
    co = checkout

[push]
	#default = simple
